@import '../../styles/colors';

.our-hacky-file-input {

    > .upload-status {
        > .upload-feedback {
            color: $fb-blue;
            text-decoration: underline;
            cursor: pointer;
        }
        > .icon-cancel-upload {
            margin-left: 0.5rem;
            color: red;
            cursor: pointer;

            &::after {
                content: '×';
            }
        }
    }

    > input[type=file] {
        color: blue;
        display: none;
    }
}
