@import '../../styles/colors';

input.our-fancy-input-button {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    background-color: $fb-blue;
    font-size: 1.6rem;
}
