@import url(https://fonts.googleapis.com/css?family=Righteous);

svg.icon-wooperate {
    overflow: hidden;

    path {
        stroke: #039be5;
        stroke-width: 1.6px;
    }

    text {
        font-family: Righteous, sans-serif;
    }
}
