@import '../../../../styles/colors';

.post {
    display: block;
    margin: 5rem auto;
    padding: 2rem;
    max-width: 80rem;

    background-color: $fb-red;

    .author-and-likes {
        display: flex;
        justify-content: space-between;

        padding: 1rem 0 0.5rem;
        font-size: 1.8rem;

        > .author {
            color: $fb-yellow;
            a {
                color: inherit;
            }
            > .icon-delete {
                color: red;
                cursor: pointer;

                &::after {
                    content: '×';
                }
            }
        }
        > .date {
            >.date-created {
                color: #555;

                &.edit-on-click {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            > .date-edited {
                margin-left: 0.5rem;
                color: #777;
                font-size: 80%;
                font-style: italic;
            }
        }
        > .likes {
            color: crimson;

            cursor: pointer;
            :hover {
                color: $fb-blue;
            }
        }
    }

    .markdown {
        font-size: 1.5rem;
        text-align: left;
        padding: .1rem 1rem;
        line-height: 1.5;

        p {
            margin: 0.9em 0;
        }
        code,
        .code-block {
            color: greenyellow;
            background-color: #666;
            padding: 0.4rem 0.1rem;
            border-radius: 0.1em;
        }
        code {
            padding: 0.4rem 0.2rem;
        }

        a {
            color: $fb-blue;
        }
    }

    > .actual-post > .content {
        background-color: white;
        display: block;
        max-width: 78rem;
        margin: auto;
        font-size: 1.8rem;
    }

    > .comment-list {
        padding-left: 12%;

        > .comment {
            margin-top: 1rem;

            > .content {
                background-color: white;
                display: block;
                max-width: 78rem;
                margin: auto;
                font-size: 1.8rem;
            }
        }
    }

    > .comment-form,
    > .comment-list > .edit-comment-form,
    > .edit-post-form {
        margin-top: 3rem;
        display: block;
        padding: 1.5rem;
        padding-bottom: 0;
        max-width: 80rem;

        background-color: $fb-yellow; 

        textarea {
            display: block;
            width: 75rem;
            max-width: 75rem;
            height: 8rem;
            margin: auto;
            font-size: 1.8rem;
            padding: 0.5rem 1rem;
            line-height: 1.5;
        }

        > .buttons {
            display: inline-block;
            margin: auto;

            > * {
                margin: 1rem;
            }
        }

        .feedback {
            padding-bottom: 1rem;
        }
    }
    > .comment-list > .edit-comment-form {
        max-width: 70rem;

        textarea {
            width: 65rem;
            max-width: 65rem;
        }
    }
    > .edit-post-form {
        .buttons {
            display: inline-block;
            margin: auto;

            > * {
                margin: 1rem;
            }
        }
    }
}
