@import '../../../../styles/colors';

.post {
    display: block;
    margin: 50px auto;
    padding: 20px;
    max-width: 800px;

    background-color: $fb-red;

    .author-and-likes {
        display: flex;
        justify-content: space-between;

        padding: 10px 0 5px;
        font-size: 18px;

        > .author {
            color: $fb-yellow;
            a {
                color: inherit;
            }
            > .icon-delete {
                color: red;
                cursor: pointer;

                &::after {
                    content: '×';
                }
            }
        }
        > .date {
            >.date-created {
                color: #555;

                &.edit-on-click {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
            > .date-edited {
                margin-left: 5px;
                color: #777;
                font-size: 80%;
                font-style: italic;
            }
        }
        > .likes {
            color: crimson;

            cursor: pointer;
            :hover {
                color: $fb-blue;
            }
        }
    }

    .markdown {
        text-align: left;
        padding: 1px 10px;
        line-height: 1.5;

        p {
            margin: 0.9em 0;
        }
        code,
        .code-block {
            color: greenyellow;
            background-color: #666;
            padding: 4px 1px;
            border-radius: 0.1em;
        }
        code {
            font-family: 'NotoMono';
            padding: 4px 2px;
        }

        a {
            color: $fb-blue;
        }

        img {
            max-width: 100%;
        }
    }

    > .actual-post > .content {
        background-color: white;
        display: block;
        max-width: 780px;
        margin: auto;
        font-size: 18px;
    }

    > .comment-list {
        padding-left: 12%;

        > .comment {
            margin-top: 10px;

            > .content {
                background-color: white;
                display: block;
                max-width: 780px;
                margin: auto;
                font-size: 18px;
            }
        }
    }

    > .comment-form,
    > .comment-list > .edit-comment-form,
    > .edit-post-form {
        margin-top: 30px;
        display: block;
        padding: 15px;
        padding-bottom: 0;
        max-width: 800px;

        background-color: $fb-yellow; 

        textarea {
            display: block;
            width: 750px;
            max-width: 750px;
            height: 80px;
            margin: auto;
            font-size: 18px;
            padding: 5px 10px;
            line-height: 1.5;
        }

        > .buttons {
            display: inline-block;
            margin: auto;

            > * {
                margin: 10px;
            }
        }

        .feedback {
            padding-bottom: 10px;
        }
    }
    > .comment-list > .edit-comment-form {
        max-width: 700px;

        textarea {
            width: 650px;
            max-width: 650px;
        }
    }
    > .edit-post-form {
        .buttons {
            display: inline-block;
            margin: auto;

            > * {
                margin: 10px;
            }
        }
    }
}
