@import '../../../styles/colors';

.new-post-form {
    display: block;
    margin: 50px auto;
    padding: 20px;
    padding-bottom: 0;
    max-width: 800px;

    background-color: $fb-yellow; 

    textarea {
        display: block;
        width: 780px;
        max-width: 780px;
        height: 100px;
        margin: auto;
        font-size: 18px;
        padding: 5px 10px;
        line-height: 1.5;
    }

    > .buttons {
        display: inline-block;
        margin: auto;

        > * {
            margin: 15px;
        }
    }

    .feedback {
        padding-bottom: 15px;
    }
}
