@import '../../styles/colors';

.title-bar {

    background-color: $fb-red;

    display: flex;
    justify-content: space-between;

    > a {
        margin: 1.2rem 1.4rem;
        padding: 0;

        svg.icon-wooperate {
            height: 7.0rem;
        }
    }

    > .button-log-out {
        margin: auto 3.0rem;
    }
}
